/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes slide-in-left {
    from {
        inset-inline-start: -18px;
    }

    to {
        inset-inline-start: -14px;
    }
}

@keyframes fill-color-in {
    from {
        fill: transparent;
    }

    to {
        fill: var(--heart-color);
    }
}

@keyframes scale-up {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.25);
    }
}

.card__icon-button .contour {
    fill: var(--main-color);
    transition: fill 0.3s 0.06s linear;
}

.card__icon-button .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
    fill: var(--main-color);
    transition-delay: 0.03s;
}

.card__icon-button .core {
    fill: transparent;
    transition: fill 0.3s 0.05s linear;
}

.card__icon-button:hover .core {
    fill: var(--main-color);
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
    fill: var(--heart-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
    fill: var(--heart-color);
}

.like-icon.is-liked .heart {
    transform-origin: center;
    animation: scale-up 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
    transform-origin: center;
    animation: fill-color-in 0.3s 0.3s ease-in alternate;
}